html {
  height:100%;
}

body {
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#fff;
  margin:0;
  width:100%;
  height:100%;
  background-color:#262626;
}

footer {
  position:absolute;
  bottom:0;
  left:0;
}

footer {
  font-size: 1.5em;
}

a {
  text-decoration:none;
  color:#fff;
  transition:color;
  opacity:0.9;
}

footer a {
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}

.main-content-container {
  position:relative;
  width:100%;
  height:100%;
}

#panel-left {
  position:relative;
  width:40%;
  height:100%;
  float:left;
  /*background-color:#262626;*/
}

#panel-left .title,
#panel-left .description {
  position:absolute;
  /*text-align:right;*/
  left:2px;
  width:100%;
}

#panel-left .title {
  font-size:45pt;
  word-wrap:break-word;
}

#panel-left .description {
  top:40%;
}

#gallery-right {
  width:60%;
  height:100%;
  float:left;
  overflow:hidden;
  background-color:#262626;
}

.gallery-inner {
  position:relative;
  width:100%;
  height:100%;
  padding-top:8px;
  top:0;
}

.gallery-inner .links {
  position:relative;
  width:100%;
  height:100%;
}

#gallery-right .gallery-inner .entry {
  position:relative;
  background-color:#262626;
  height:12%;
  overflow:hidden;
  font-size:2em;
  display:block;
}

#gallery-right .gallery-inner .title {
  opacity:0.5;
}

.contact-info {
  position:absolute;
  top:8px;
  right:0;
  font-size:2em;
}

a:hover {
  opacity:1;
  -webkit-animation-duration:0.25s;
  -webkit-animation-name:colorful;
  -webkit-animation-iteration-count:infinite;
  animation-duration:0.25s;
  animation-name:colorful;
  animation-iteration-count:infinite;
}

@-webkit-keyframes colorful {
  from {
    color:#C22E2B;
  }

  20% {
    color:#C23D23;
  }

  40% {
    color:#D9AB27;
  }

  60% {
    color:#68B841;
  }

  80% {
    color:#2587CF;
  }

  to {
    color:#9E3CD9;
  }
}

@keyframes colorful {
  from {
    color:#C22E2B;
  }

  20% {
    color:#C23D23;
  }

  40% {
    color:#D9AB27;
  }

  60% {
    color:#68B841;
  }

  80% {
    color:#2587CF;
  }

  to {
    color:#9E3CD9;
  }
}