include header.jade

body
  div.main-content-container
    div#panel-left
      div.title Tyler
        br
        | Wolf
      div.description
        div.entry-title
        div.date
        div.explanation
      footer
        a(href="http://about.me/tylerwolf", target="_blank") contact
    div#gallery-right
      div.gallery-inner

script(type="text/javascript", src="/js/index.js")

script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37325539-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();