include header.jade

body
  div.main-content-container
    div#panel-left
      div.title
        a(href="http://www.tylernwolf.com") Tyler Wolf
      div.description
        div.entry-title
        div.date
        div.explanation
          | Hi, I'm Tyler Wolf and I'm a professional User Experience Designer. This website documents some of my personal work and experiments in design and programming. Feel free to e-mail me if you'd like to talk!
    div#gallery-right
      div.gallery-inner
        .entry.title
          | Projects
        .links
        .contact-info
            a(href="http://about.me/tylerwolf", target="_blank") contact
            &nbsp;/&nbsp;
            a(href="http://blog.tylernwolf.com", target="_blank") creative blog

script(type="text/javascript", src="/js/index.js")

script(type="text/javascript").
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37325539-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();