!!! 5
html
  head
    meta(charset='utf-8', name='viewport')
    link(rel='stylesheet', type='text/css', href='portfolio.css?v=1')
    link(rel='stylesheet', type='text/css', href='../css/grid.css?v=1')
    script(type="text/javascript", src="../lib/d3.v3.js")
    title Tyler Wolf Portfolio

body
  div.main-content-container
    div#right-slider
      ul.slider-container
    div#gallery-left
      .portfolio-title Tyler Wolf Portfolio
      div.gallery-container
        .selection-image.not-filled
          img#gallery-image.hidden
        .selection-title
        .selection-description
        .loading-container.hidden
          .loading-text Loading...

script(type="text/javascript", src="portfolio.js")

script(type="text/javascript").
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37325539-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
