include header.jade

body
  div.main-content-container
    div.row
      div.large-1.columns
        h1 Tyler Wolf
    div.main-content
      div.row
        include includes/entry_7_19_13.jade
      div.row
        include includes/entry_10_23_12.jade
      div.row
        include includes/entry_10_12_12.jade
  footer
    div.footer-contact
      a(href="mailto:tylernicholaswolf@gmail.com") Tyler Wolf
    div.footer-text
      aside site design inspired by 
        a(href="http://bost.ocks.org/mike/") http://bost.ocks.org/