<div class="main-container portfolio-container">
    <div ng-if="hide">Please refresh and retry password</div>
    <div ng-if="show">
        <h1 class="page-title">Portfolio</h1>
        <div class="row">
            <div class="col-xs-9">
                <h2>Financial Heatmap</h2>
                <h3>Requirements</h3>
                <p>A UI for visualizing a financial portfolio. Rectangles are sized to represent a stock's proportion of the portfolio. The color of the rectangles represented the stock's positive or negative contribution to the portfolio.</p>
                <p>Portfolios could be grouped into larger sections, which should be represented similarly to stocks. When a section is clicked, the interface should zoom into the clicked section to give greater detail.</p>
                <p>Hovering over a particular stock should give a pop-up with more detailed information about the stock.</p>
                <p>With this interface, a user should easily be able to navigate and discover the significant contributors and detractors from their portfolio.</p>
            </div>
            <div class="col-xs-9">
                <h3>Wireframe</h3>
                <img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/heatmap_mockup1.png">
                <p class="img-description">Full portfolio</p>
                <img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/heatmap_mockup3.png">
                <p class="img-description">Category Breakdown with mouseover</p>
            </div>
            <div class="col-xs-9">
                <h3>Final version</h3>
                <img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/heatmap1.png">
                <p class="img-description">Full portfolio</p>
                <img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/heatmap3.png">
                <p class="img-description">Category Breakdown with mouseover</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <h2>Simulation Equalizer</h2>
                <h3>Requirements</h3>
                <p>An interface for setting various input factors for a simulation. There are 10 variables that can be adjusted on a sliding scale. 
                <p>The variables have historical values associated with them. Various statistics about the historical values are indicated along with the current setting of the variable and whether or not it is above or below the historical mean.</p>
                <p>Any variable can be set to human or simulation control, which should be clearly indicated. After the variables are set and submitted, a bar chart updates to show the results of the simulation.</p>
            </div>
            <div class="col-xs-9">
                <h3>Wireframe</h3>
                <img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/equalizer_mockup.png">
                <p class="img-description">Equalizer wireframe</p>
            </div>
    <!--         <div class="col-xs-9">
                <img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/equalizer_design.png">
                <p class="img-description">Equalizer preliminary design</p>
            </div> -->
            <div class="col-xs-9">
                <h3>Final version</h3>
                <img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/equalizer.png">
                <p class="img-description">Production version</p>
            </div>
        </div>
    </div>
</div>