<div class="main-container portfolio-container">
    <div ng-if="hide">Please refresh and retry password</div>
    <div ng-if="show">
        <h1 class="page-title">Portfolio</h1>
        <div class="portfolio-filters clearfix">
            <div class="filter-title">Filters</div>
            <div class="port-filter" ng-repeat="filter in filters" ng-click="filterClick(filter)" ng-mouseleave="filterLeave(filter)" ng-class="{selected:filter.selected}">
                {{filter.name}}
                <div class="filter-underline"></div>
            </div>
        </div>
        <div class="portfolio-works">
            <div class="row">
                <div class="col-md-3 col-xs-6" ng-repeat="work in works | filter:portFilters">
                    <a href="#/portfolio/{{work.id}}" class="portfolio-item">
                        <div class="work-picture"><img src="http://media.tylernwolf.com.s3.amazonaws.com/portfolio/thumbnails/{{work.thumbnail}}"></div>
                        <div class="work-title">{{work.title}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
