div.entry
  div.entry-meta
    div.entry-title
      div.entry-date November 23, 2012
      a(href="entry_10_23_12.html") Happy Worm: An experiment in sensory integration
        img(src="images/entry_10_23_12.png")
